# Add files and directories to ignore here 
project_proposal
cluster-files
ebooks
dftb
p4vasp
py-env
md_chs.mp4
notebooks/.ipynb_checkpoints
figures
**/*.svg
tex-file/Figures/*.pdf

# Ignore some files from my Obsidian vault 
my-vault/Advanced Programming
my-vault/My Life
my-vault/Artificial Intelligence
my-vault/Quantum Computing Club

