figures
tex-file/AUTORÍA-signed.pdf
tex-file/Caratula.pdf
tex-file/AUTORIZACIÓN-DE-PUBLICACIÓN-signed.pdf
project_proposal
cluster-files
ebooks
dftb
presentation/.github
presentation/.gitignore
presentation/.npmignore
presentation/LICENSE
presentation/README.md
presentation/demo.html
presentation/examples/
p4vasp
py-env
md_chs.mp4
notebooks/.ipynb_checkpoints
presentation_new
