figures
tex-file/AUTORÍA-signed.pdf
tex-file/Caratula.pdf
tex-file/AUTORIZACIÓN-DE-PUBLICACIÓN-signed.pdf
project_proposal
cluster-files
ebooks
dftb
presentation/.github
presentation/.gitignore
presentation/.npmignore
presentation/LICENSE
presentation/README.md
presentation/demo.html
presentation/examples/
p4vasp
notebooks/.ipynb_checkpoints/
notebooks/dos-analysis.ipynb
py-env
